<div class="pure-g">
  <a href="{{ section.settings.link }}">
    <picture>
      <source media="(min-width: 768px)" srcset="{{ section.settings.ing_img | img_url:'master' }}">
      <source media="(max-width: 767px)" srcset="{{ section.settings.ing_img_img | img_url:'master' }}">
      <img
        alt="image banner"
        src="{{ section.settings.ing_img | img_url:'master' }}"
        width="100%">
    </picture>
  </a>
</div>
{% schema %}
  {
    "name": "Ing_Image",
    "class": "ing_image",
    "settings": [
      {
        "type": "image_picker",
        "id": "ing_img",
        "label": "Full width Image"
      }, {
        "type": "image_picker",
        "id": "ing_img_img",
        "label": "Full width Image mobile"
      }, {
        "type": "url",
        "id": "link",
        "label": "Image Link"
      }
    ]
  }
{% endschema %}