<div class="wrapper">
{% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}
</div>
{% schema %}
  {
    "name": "Product Review",
    "class": "product_review",
    "settings": []
  }
{% endschema %}

