.wrapper,
.wrapper-full{
    --gutter-x: 1.5rem;
    --gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--gutter-x) * 0.5);
    padding-left: calc(var(--gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}
.pure-g {
    --gutter-x: 1.5rem;
    --gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--gutter-y));
    margin-right: calc(-0.5 * var(--gutter-x));
    margin-left: calc(-0.5 * var(--gutter-x));
}
.pure-g > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--gutter-x) * 0.5);
    padding-left: calc(var(--gutter-x) * 0.5);
    margin-top: var(--gutter-y);
}
.pu {
    flex: 1 0 0%;
}
.pu-auto {
    flex: 0 0 auto;
    width: auto;
}
.pu-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}
.pu-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}
.pu-3 {
    flex: 0 0 auto;
    width: 25%;
}
.pu-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.pu-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}
.pu-6 {
    flex: 0 0 auto;
    width: 50%;
}
.pu-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}
.pu-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}
.pu-9 {
    flex: 0 0 auto;
    width: 75%;
}
.pu-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}
.pu-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}
.pu-12 {
    flex: 0 0 auto;
    width: 100%;
}
.of-1 {
    margin-left: 8.33333333%;
}
.of-2 {
    margin-left: 16.66666667%;
}
.of-3 {
    margin-left: 25%;
}
.of-4 {
    margin-left: 33.33333333%;
}
.of-5 {
    margin-left: 41.66666667%;
}
.of-6 {
    margin-left: 50%;
}
.of-7 {
    margin-left: 58.33333333%;
}
.of-8 {
    margin-left: 66.66666667%;
}
.of-9 {
    margin-left: 75%;
}
.of-10 {
    margin-left: 83.33333333%;
}
.of-11 {
    margin-left: 91.66666667%;
}
@media (min-width: 320px) {
    .wrapper{
      max-width: 540px;
    }
    .pu-sm-rt{
     text-align:right; 
    }
    .pu-sm-lt{
     text-align:left; 
    }
    .pu-sm-ct{
     text-align:center; 
    }
    .pu-sm-ht{
     display:none; 
    }
    .pu-sm-sh{
     display:block; 
    }
  .pu-sm {
        flex: 1 0 0%;
    }
    .pu-sm-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .pu-sm-1 {
        flex: 0 0 auto;
        width: 8.33333333%;          
    }
    .pu-sm-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .pu-sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .pu-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .pu-sm-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .pu-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .pu-sm-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .pu-sm-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .pu-sm-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .pu-sm-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .pu-sm-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .pu-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .of-sm-0 {
        margin-left: 0;
    }
    .of-sm-1 {
        margin-left: 8.33333333%;
    }
    .of-sm-2 {
        margin-left: 16.66666667%;
    }
    .of-sm-3 {
        margin-left: 25%;
    }
    .of-sm-4 {
        margin-left: 33.33333333%;
    }
    .of-sm-5 {
        margin-left: 41.66666667%;
    }
    .of-sm-6 {
        margin-left: 50%;
    }
    .of-sm-7 {
        margin-left: 58.33333333%;
    }
    .of-sm-8 {
        margin-left: 66.66666667%;
    }
    .of-sm-9 {
        margin-left: 75%;
    }
    .of-sm-10 {
        margin-left: 83.33333333%;
    }
    .of-sm-11 {
        margin-left: 91.66666667%;
    }
}
@media (min-width: 768px) {
    .wrapper{
        max-width: 720px;
    }
   .pu-md-rt{
     text-align:right; 
    }
    .pu-md-lt{
     text-align:left; 
    }
    .pu-md-ct{
     text-align:center; 
    }
    .pu-md-ht{
     display:none; 
    }
    .pu-md-sh{
     display:block; 
    }
  	.pu-md {
        flex: 1 0 0%;
    }
    .pu-md-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .pu-md-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .pu-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .pu-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .pu-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .pu-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .pu-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .pu-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .pu-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .pu-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .pu-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .pu-md-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .pu-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .of-md-0 {
        margin-left: 0;
    }
    .of-md-1 {
        margin-left: 8.33333333%;
    }
    .of-md-2 {
        margin-left: 16.66666667%;
    }
    .of-md-3 {
        margin-left: 25%;
    }
    .of-md-4 {
        margin-left: 33.33333333%;
    }
    .of-md-5 {
        margin-left: 41.66666667%;
    }
    .of-md-6 {
        margin-left: 50%;
    }
    .of-md-7 {
        margin-left: 58.33333333%;
    }
    .of-md-8 {
        margin-left: 66.66666667%;
    }
    .of-md-9 {
        margin-left: 75%;
    }
    .of-md-10 {
        margin-left: 83.33333333%;
    }
    .of-md-11 {
        margin-left: 91.66666667%;
    }
}
@media (min-width: 992px) {
    .wrapper{
        max-width: 960px;
    }
  .pu-lg-rt{
     text-align:right; 
    }
    .pu-lg-lt{
     text-align:left; 
    }
    .pu-lg-ct{
     text-align:center; 
    }
    .pu-lg-ht{
     display:none; 
    }
    .pu-lg-sh{
     display:block; 
    }
    .pu-lg {
        flex: 1 0 0%;
    }
    .pu-lg-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .pu-lg-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .pu-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .pu-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .pu-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .pu-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .pu-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .pu-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .pu-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .pu-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .pu-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .pu-lg-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .pu-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .of-lg-0 {
        margin-left: 0;
    }
    .of-lg-1 {
        margin-left: 8.33333333%;
    }
    .of-lg-2 {
        margin-left: 16.66666667%;
    }
    .of-lg-3 {
        margin-left: 25%;
    }
    .of-lg-4 {
        margin-left: 33.33333333%;
    }
    .of-lg-5 {
        margin-left: 41.66666667%;
    }
    .of-lg-6 {
        margin-left: 50%;
    }
    .of-lg-7 {
        margin-left: 58.33333333%;
    }
    .of-lg-8 {
        margin-left: 66.66666667%;
    }
    .of-lg-9 {
        margin-left: 75%;
    }
    .of-lg-10 {
        margin-left: 83.33333333%;
    }
    .of-lg-11 {
        margin-left: 91.66666667%;
    }
}
@media (min-width: 1200px) {
    .wrapper{
        max-width: 1140px;
    }
   .pu-xl-rt{
     text-align:right; 
    }
    .pu-xl-lt{
     text-align:left; 
    }
    .pu-xl-ct{
     text-align:center; 
    }
    .pu-xl-ht{
     display:none; 
    }
    .pu-xl-sh{
     display:block; 
    }
  
    .pu-xl {
        flex: 1 0 0%;
    }
    .pu-xl-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .pu-xl-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .pu-xl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .pu-xl-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .pu-xl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .pu-xl-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .pu-xl-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .pu-xl-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .pu-xl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .pu-xl-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .pu-xl-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .pu-xl-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .pu-xl-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .of-xl-0 {
        margin-left: 0;
    }
    .of-xl-1 {
        margin-left: 8.33333333%;
    }
    .of-xl-2 {
        margin-left: 16.66666667%;
    }
    .of-xl-3 {
        margin-left: 25%;
    }
    .of-xl-4 {
        margin-left: 33.33333333%;
    }
    .of-xl-5 {
        margin-left: 41.66666667%;
    }
    .of-xl-6 {
        margin-left: 50%;
    }
    .of-xl-7 {
        margin-left: 58.33333333%;
    }
    .of-xl-8 {
        margin-left: 66.66666667%;
    }
    .of-xl-9 {
        margin-left: 75%;
    }
    .of-xl-10 {
        margin-left: 83.33333333%;
    }
    .of-xl-11 {
        margin-left: 91.66666667%;
    }
}
@media (min-width: 1400px) {
    .wrapper{
        max-width: 1320px;
    }
    .pu-xxl-rt{
     text-align:right; 
    }
    .pu-xxl-lt{
     text-align:left; 
    }
    .pu-xxl-ct{
     text-align:center; 
    }
    .pu-xxl-ht{
     display:none; 
    }
    .pu-xxl-sh{
     display:block; 
    }  
    .pu-xxl {
        flex: 1 0 0%;
    }
    .pu-xxl-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .pu-xxl-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .pu-xxl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .pu-xxl-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .pu-xxl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .pu-xxl-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .pu-xxl-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .pu-xxl-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .pu-xxl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .pu-xxl-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .pu-xxl-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .pu-xxl-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .pu-xxl-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .of-xxl-0 {
        margin-left: 0;
    }
    .of-xxl-1 {
        margin-left: 8.33333333%;
    }
    .of-xxl-2 {
        margin-left: 16.66666667%;
    }
    .of-xxl-3 {
        margin-left: 25%;
    }
    .of-xxl-4 {
        margin-left: 33.33333333%;
    }
    .of-xxl-5 {
        margin-left: 41.66666667%;
    }
    .of-xxl-6 {
        margin-left: 50%;
    }
    .of-xxl-7 {
        margin-left: 58.33333333%;
    }
    .of-xxl-8 {
        margin-left: 66.66666667%;
    }
    .of-xxl-9 {
        margin-left: 75%;
    }
    .of-xxl-10 {
        margin-left: 83.33333333%;
    }
    .of-xxl-11 {
        margin-left: 91.66666667%;
    }
}
@media (min-width: 1600px) {
    .wrapper{
        max-width: 1500px;
    }
}
@media (min-width: 1700px) {
    .wrapper{
        max-width: 1680px;
    }
}
@media (min-width: 1800px) {
    .wrapper{
        max-width: 1660px;
    }
}
@media (min-width: 1900px) {
    .wrapper{
        max-width: 1730px;
    }
}