<div class="wrapper">
  <h1>{{ page.title }}</h1>
  <div>{{ page.content }}</div>
  <input type="text" name="text" data="alpha" placeholder="alpha1"/>
  <input type="text" name="text" data="alpha" placeholder="alpha2"/>

  <input type="text" name="text" data="char" placeholder="char1"/>
  <input type="text" name="text" data="char" placeholder="char2"/>

  <input type="text" name="text" data="number" placeholder="char1"/>
  <input type="text" name="text" data="number" placeholder="char2"/>
</div>