<section class="about-1">
  <div class="about-bg-img mobile-view-only">
    <img class="" src="https://cdn.shopify.com/s/files/1/0259/2564/8450/files/about-bg-img.jpg">
    <div class="breadgrum-txt">
      <h2>ABOUT US</h2>
    </div>
  </div>
  <div class="wrapper">
    <div class="about-bg-img desktop-view-only">
      <img class="" src="https://cdn.shopify.com/s/files/1/0259/2564/8450/files/about_image.png">
      <div class="breadgrum-txt">
        <h1>ABOUT US</h1>
      </div>
    </div>
  </div>
</section>

<section class="about-2 pt-50">
  <div class="wrapper">
    <div class="about-2-img">
      <img src="https://cdn.shopify.com/s/files/1/0259/2564/8450/files/Vector.jpg">
    </div>
    <p>We know maintaining your health is hard enough, so we keep it simple. With Health By Nature you get vitamins that
      are affordable, fun to take, easy to remember to take — and most importantly, that work. Our concentrated formulas
                                                do what they say on the tin (so to speak) and work incrementally to make you feel like yourself, only… better.</p>
  </div>
</section>

<section class="about-3 pt-50">
  <div class="wrapper">
    <div class="pure-g">
      <div class="pu-md-5 pu-sm-12">
        <div class="head-para-box mobile-view-only">
          <div class="main-heading">
            STAGGERING <br/>EATING HABITS
          </div>
          <div class="para1">
            Intrigued by the contrasting eating habits of the Indians and other people abroad, 
            we explored and observed lifestyle mannerisms of the people.
          </div>
        </div>
        <div class="left-img">
          <img src="https://cdn.shopify.com/s/files/1/0259/2564/8450/files/Rectangle_385.png">
        </div>
        <div class="head-para-box desktop-view-only">
          <div class="main-heading">
            STAGGERING <br/>EATING HABITS
          </div>
          <div class="para">
            Intrigued by the contrasting eating habits of the Indians and other people abroad, 
            we explored and observed lifestyle mannerisms of the people.
          </div>
        </div>
      </div>
      <div class="pu-md-7 pu-sm-12">
        <div class="head-para-box">
          <div class="main-heading">
            DEMAND VS <br/>SUPPLY GAP
          </div>
          <div class="para">
            An extensive Pan-India travel to meet the farmers and consumers revealed that farmers
            wanted to grow something different, something that could fetch them good income and the 
                                                                                                                    consumers were growing health-conscious.
          </div>
          <div class="right-img-sec">
            <img src="https://cdn.shopify.com/s/files/1/0259/2564/8450/files/image_10.jpg">
          </div>
        </div>
      </div>
      <div class="pu-md-4 desktop-view-only"></div>
      <div class="pu-md-4 pu-sm-12">
        <div class="head-para-box mobile-view-only">
          <div class="main-heading">
            THE AIR OF <br/> AWARENESS
          </div>
          <div class="para1">
            By this time, we decided to educate the farmers about cultivating healthier crops, 
            and maintaining them with the right manure and storage processes.
          </div>
        </div>
        <div class="center-img">
          <img src="https://cdn.shopify.com/s/files/1/0259/2564/8450/files/image_11.jpg">
        </div>
      </div>
      <div class="pu-md-4 pu-sm-12 bottom-txt">
        <div class="head-para-box desktop-view-only">
          <div class="main-heading">
            THE AIR OF <br/> AWARENESS
          </div>
          <div class="para1">
            By this time, we decided to educate the farmers about cultivating healthier crops, 
            and maintaining them with the right manure and storage processes.
          </div>
        </div>
      </div>
    </div>
    <div class="shop-all-btn mar-40">
      <a href="/collections/all">SHOP ALL</a>
    </div>
  </div>
</section>
<section class="about-4 pt-50">
  <div class="wrapper">
    <div class="pure-g">
      <div class="pu-md-5 pu-sm-12 desktop-view-only">
        <div class="left-img1">
          <img src="https://cdn.shopify.com/s/files/1/0259/2564/8450/files/mockup-graphics-NpxGxAU5rhA-unsplash_1.jpg">
        </div>
      </div>
      <div class="pu-md-7 pu-sm-12">
        <div class="head-para-box">
          <div class="main-heading">
            SIMPLE IS NOT <br/> BORING
          </div>
          <div class="para1">
            Our superfoods are simple, super nutritious nutrient powerhouses full of fibers, vitamins, 
            minerals and antioxidants. They have been used since the dawn of civilisation in traditional 
                                                                                                              medicine to cure and prevent diseases and overall improve the balance of the body. For us, 
                                                                                                              the secret to a healthy lifestyle starts with healthy simple nutrition, less processed foods 
                                                                                                              and more superfoods !
          </div>
          <hr/>
          <div class="pure-g">
            <div class="pu-md-3 pu-sm-4">
              <div class="about4-box">
                <img class="imgf" src="https://cdn.shopify.com/s/files/1/0259/2564/8450/files/shake-me.png">
                <div class="about4-box-name">
                  Shake Me
                </div>
              </div>
            </div>

            <div class="pu-md-3 pu-sm-4">
              <div class="about4-box">
                <img class="imgs" src="https://cdn.shopify.com/s/files/1/0259/2564/8450/files/mix-me.png">
                <div class="about4-box-name">
                  Mix me
                </div>
              </div>
            </div>
            <div class="pu-md-3 pu-sm-4">
              <div class="about4-box">
                <img class="imgt" src="https://cdn.shopify.com/s/files/1/0259/2564/8450/files/blend-me.png">
                <div class="about4-box-name">
                  Blend Me
                </div>
              </div>
            </div>
          </div>
          <hr/>
        </div>
      </div>
    </div>
  </div>
</section>


<style>
  #about-us {
    background-color: #fff;
  }
  .about-1 {
    padding-top: 14vh;
    position: relative;
  }
  .about-1 .about-bg-img img {
    width: 100%;
  }
  .about-1 .about-bg-img {
    position: relative;
  }
  .breadgrum-txt h1 {
    position: absolute;
    font-family: "GTFlexa-ExtendedBold";
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    font-size: 80px;
    bottom: -3px;
  }
  .pt-50 {
    padding: 50px 0;
  }
  .about-2-img {
    text-align: center;
  }
  .about-2-img img {
    width: 50px;
  }
  .about-2 p {
    font-size: 18px;
    text-align: center;
    padding: 0 23%;
    font-family: "GTFlexa-Medium";
  }
  .about-3 {
    background-color: #F0F0F0;
  }
  .about-3 .left-img img {
    width: 100%;
  }
  .main-heading {
    color: #262626;
    font-family: "GTFlexa-ExtendedBold";
    font-size: 35px;
    line-height: 44px;
  }
  .para {
    color: #262626;
    width: 60%;
    font-family: "GTFlexa-Medium";
    padding: 15px 0 0;
  }
  .para1 {
    color: #262626;
    width: 100%;
    font-family: "GTFlexa-Medium";
    padding: 15px 0 0;
  }
  .right-img-sec {
    text-align: right;
  }
  .right-img-sec img {
    width: 50% !important;
  }
  .center-img img {
    width: 100%;
    margin-top: -40px;
  }
  .bottom-txt {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 6px;
  }
  .shop-all-btn a {
    font-family: "GTFlexa-Medium";
    border: 1px solid #000;
    padding: 10px 42px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 500;
  }
  .shop-all-btn {
    text-align: center;
  }
  .mar-40 {
    margin-top: 40px;
  }
  .left-img1 img {
    width: 100%;
    height: 426px;
    object-fit: contain;
  }
  hr {
    border-top: 0.063em solid #000000;
  }
  .about4-box {
    text-align: center;
    font-family: "GTFlexa-Medium";
  }
  .about4-box .imgf {
    width: auto;
    height: 75px;
  }
  .about4-box .imgs {
    width: 75px;
    height: 75px;
  }
  .about4-box .imgt {
    width: auto;
    height: 75px;
  }
  marquee {
    font-family: "GTFlexa-ExtendedBold";
    font-size: 25px;
  }
  .mobile-view-only {
    display: none;
  }



  .footer-sec {
    background-color: #231F20;
    color: #808080;
    padding: 50px 0;
  }
  .main-heading-footer {
    color: #fff;
    font-family: "GTFlexa-ExtendedBold";
    font-size: 17px;
    line-height: 44px;
  }
  .footer-sec ul {
    list-style-type: none;
  }
  .footer-sec ul li {
    font-family: "GTFlexa-Medium";
    font-size: 17px;
    margin-bottom: 0.5rem;
  }
  .footer-sec ul li a {
    color: #808080;
  }
  .footer-right-side {
    text-align: right;
    position: relative;
  }
  .copyrights {
    padding-top: 15px;
    font-family: "GTFlexa-Medium";
  }
  .footer-right-side ul img {
    margin-top: 7px;
    position: absolute;
    width: 25px;
    height: 20px;
    object-fit: contain;
    right: 1%;
  }
  .footer-right-side span {
    margin-right: 15%;
  }

  @media screen and (min-width:320px) and(max-width:500px) {
    .mobile-view-only {
      display: block;
    }
    .desktop-view-only {
      display: none;
    }
    .about-2 p {
      padding: 0 2%;
      font-size: 15px;
    }
    .main-heading {
      font-size: 24px;
      line-height: 35px;
    }
    .para {
      width: 100%;
    }
    .right-img-sec img {
      width: 100% !important;
      margin: 20px 0;
    }
    .about-3 .left-img img {
      margin: 20px 0;
    }
    .center-img img {
      margin-top: 20px;
    }
    .left-img1 img {
      height: 295px;
    }
    .footer-sec ul li img {
      vertical-align: middle;
      margin-right: 10px;
    }
    .footer-sec hr {
      border-top: 0.063em solid #a2a2a2;
    }
    .breadgrum-txt h1 {
      font-size: 27px;
    }
  }
  @media screen and (min-width:501px) and(max-width:767px) {
    .mobile-view-only {
      display: block;
    }
    .desktop-view-only {
      display: none;
    }
    .about-2 p {
      padding: 0 2%;
      font-size: 15px;
    }
    .main-heading {
      font-size: 24px;
      line-height: 35px;
    }
    .para {
      width: 100%;
    }
    .right-img-sec img {
      width: 100% !important;
      margin: 20px 0;
    }
    .about-3 .left-img img {
      margin: 20px 0;
    }
    .center-img img {
      margin-top: 20px;
    }
    .left-img1 img {
      height: 295px;
    }
    .footer-sec hr {
      border-top: 0.063em solid #a2a2a2;
    }
    .breadgrum-txt h1 {
      font-size: 40px;
    }
  }
  @media screen and (min-width:768px) and(max-width:991px) {
    .breadgrum-txt h1 {
      font-size: 57px;
    }
    .about-2 p {
      padding: 0 6%;
    }
    .main-heading {
      font-size: 27px;
      line-height: 36px;
    }
    .para {
      width: 80%;
    }
    .footer-sec ul li {
      font-size: 14px;
    }
  }
</style>